/*fonts: Karla */
@import url('https://fonts.googleapis.com/css?family=Karla');

$mainfont:'Karla','Helvetica','Tahoma',sans-serif;
$title-text: ‘Palatino Linotype’,'Book Antiqua', monospace;

$headerdark:#141414;
$li-color:#9c9c9c;
$link-color:#999;
$link-hover:#5f5f5f;
$mty-pink:plum;

$input-bg:#ae5cc8;
