@import "variables";
@import "reset";

#page{
  position: relative;
  height:100%;
  width:100%;
	margin:0 auto;
	font-family:$mainfont;
}

#header{
  background: url(./pattern-dark.png)top left $headerdark;
  min-height:250px;
  /*height of whole page in %?*/
  padding: 50px 0 80px 0;
	margin:0 auto;
  transition: all .255s ease;
}

#instructors{
	font-family:$mainfont;
	font-size: 15px;
	line-height: 21px;
	margin:77px auto 0 auto;

 	h3{
		text-align: left;
		text-indent: 28%;
		display: block;
		margin: 0 auto 33px auto;
		font-size: 22px;
	}
	li{
		max-width: 30%;
	}

  ul{
		overflow: auto;
		display: block;
		margin: 0 auto;
		position: relative;
		width: 640px;
		/*width 640px or 50%?*/
	}

  ul li{
		float: left;
		min-width: 190px;
		margin-right: 20px;
		color: $li-color;
	}
  img{
		max-height:130px;
	}

  em{
		display: block;
		margin: 11px 0 4px 0;
		font-size: 19px;
		font-weight: lighter;
		color:black;
	}
}

#marketing{
	font-family:$mainfont;
	clear: both;
	padding-top: 89px;
	width: 640px;
	margin: 0 auto;

	h3{
		text-align: center;
		font-size:22px;
	}
	p {
	  margin: 28px 0;
	  font-size: 19px;
	  line-height: 28px;
		font-weight: 200;
	}

  a {
		color:#999;
		text-decoration: underline;
	}
  a:hover{
		color:$link-hover;
	}
}

#logos{
	clear:both;
	max-width:640px;
	margin:100px auto 0 auto;
	overflow: auto;
}
#logos ul li{
	float:left;
  width: 206px;
}
#footer{
	clear:both;
	max-width:640px;
	margin:0 auto;
}

.title{
  text-align: left;
  color:white;
  margin:0 auto;
	max-width:620px;
	line-height: 1.25;
}
.title{
	h3{
		color:$mty-pink;
	}
	h2{
		font-family:$title-text
	}
	img{
		display: block;
		width:110px;
	}
	img.mty {
		padding: 23px 0 0 0;
		width:285px;
		height:26px;
	}
}

.promo{
	padding:3.1em 0 0 0;
	line-height: normal;
  transition: all .03s ease
}

.promo .example{
	color:$mty-pink;
	border-bottom: 3px dashed $mty-pink;
}

.cursor{
  color:$mty-pink;
  animation: blink 1s infinite;
}

@keyframes blink{
  to{opacity: .0;}
}

.join-us{
	margin:65px 0 0 0;
	font-size:1.25em;
	line-height: 1.5;

}

.madeby{
	margin-top: 97px;
	margin-bottom: 55px;
	font-size: 15px;
  opacity: .44;
}
/*find out why field and button wont stay at same height/vertical align*/
form{
	text-align: center;
	margin: 0 auto;
	padding:32px 0 0 0;
	clear:both;
	overflow: auto;
	width:100%;
}
form input{
	border:none;
	float:left;
	border-radius: 3px;
	margin:auto 1%;
	vertical-align: middle;
	font-size: 20px;
	height:65px;
	background: #E6E6E6;
}
input[type="email"]{
	min-width: 60%;
  color: #b2b2b2;
	margin-right: 16px;
	text-indent:5%;
}
input[type="email"]:focus{

  background: #ffffff;
}
input[type="submit"]{
	width:32%;
	padding:20px;
	background: $input-bg;
	color:white;
  cursor: pointer;
  transition:all .15s ease;

}
input[type="submit"]:hover{
	background: #841b7b;
}

strong,em{
	font-weight: bolder;

}

h1{
  font-size: 2.8em;
	font-weight: 700;
}
h2{
  font-size: 2.5em;
}
h3{
	font-size:1.8em;
	font-weight: bolder;
}

@import "mobile";
